/* general */

* {
	padding: 0;
	margin: 0;
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

.content {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 50px
}

body {
	background-color: white;
}

.fixed-to-top {
	position: fixed !important;
	z-index: 5;
	top: 0 !important;
}

.fixed-to {
	position: absolute;
	top: 2550px;
}

/* header */

.menu-icon:hover .icon-menu, .menu-icon:hover .icon-search {
	background-color: white;
	border-radius: 20px;
	color: #383838;
	line-height: 55px
}

.icon-menu, .icon-search {
	line-height: 55px;
	cursor: pointer;
	transition: 0.2s ease;
}

.icon-menu, .icon-search {
	padding: 10px
}

.header {
	background-color: #5199f0;
	height: 65px;
	padding: 5px 50px;
	z-index: 5;
}

.menu {
	display: flex;
	max-width: 1360px;
	margin: 0 auto;
	list-style: none;
	justify-content: space-between;
	color: white;
}

.menu-item {
	line-height: 55px;
	letter-spacing: 0;
	transition: 0.2s ease;
}

.menu-item:hover {
	cursor: pointer;
	color: #363636;
}

.menu-item:hover > a, .menu-aside-item:hover > a {
	cursor: pointer;
	color: #363636;
	text-decoration: none;
}

.menu-item > a, .menu-aside-item > a {
	text-decoration: none;
	color: white;
	transition: 0.2s ease;
	display: block
}

.menu-brand {
	font-size: 52px;
	color: #f8f8f8;
	display: inline;
	font-weight: 700
}

.menu-item:hover > .menu-inside {
	display: block
}

.menu-inside {
	display: none;
	position: absolute;
	list-style: none !important;
	height: auto;
	background-color: white;
	z-index: 2;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius: 5px;
	width: 200px;
}

.menu-inside > li {
	padding: 10px 15px
}

.menu-inside > li > a {
	display: block;
	color: #383838;
	text-decoration: none;
}

/* aside menu */

.aside-menu {
	background-color: rgba(0,0,0,.8);
	width: 100vw;
	height: 100vh;
	z-index: 5;
	position: fixed;
	top: 0;
	display: none;
}

.menu-aside {
	background-color: #5199f0;
	width: 365px;
	height: 100%;
	position: absolute;
	padding: 40px 30px;
	list-style: none;
	overflow: auto;
}

.dismiss-menu::before {
	width: 30px;
	font-size: 25px;
	padding: 5px 0;
	color: white;
	margin: 25px 35px;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
	cursor: pointer
}

.menu-aside-item {
	height: 49px;
	border-bottom: 1px solid rgba(56, 56, 56, .3);
	padding: 10px;
	color: white;
}

/* news */

.news {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	margin-top: 75px;
	grid-gap: 30px;
}

.made-by {
	font-size: 12px;
	color: #94979e;
	display: flex;
}

.made-by li {
	margin: 25px 15px;
	text-transform: uppercase;
}

.by {
	text-transform: lowercase !important;
	margin-left: 0 !important
}

.by, .name-author {
	list-style: none !important;
}

.article-header h3 {
	margin-top: 25px;
}

.article-header a {
	margin-top: 25px;
	cursor: pointer;
	color: #383838;
	text-decoration: none;
	transition: 0.2s ease
}

.name-author{
	color: #383838;
	transition: 0.2s ease;
	cursor: pointer
}

.name-author:hover, .article-header a:hover {
	color: #6c5b7b;
}

.thumbnail > div {
	position: relative;
}

.thumbnail img{
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

.article-resume {
	color: #94979e;
}

.badge-custom {
	background-color: #0f4e99;
	padding: 0 5px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	text-decoration: none;
	width: auto
}

.badge-custom:hover {
	background-color: #5199f0 !important;
}

.thumbnail > div > a.badge-custom, .thumbnail > div >  a.badge-custom:hover {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: #0f4e99;
	text-decoration: none;
	color: white
}

/* categories */

.categories {
	margin-left: 20px;
    transition: 0.2s ease;
}

.categories > h3 {
	font-size: 1.125rem;
	font-weight: bold
}

a.badge-custom {
	display: inline-block;
	max-width: 100%;
	margin: 5px 0;
	padding: 5px 10px;
	color: white !important;
	font-size: 12px;
	font-weight: bold;
	transition: 0.2s ease
}

.category-options > a.badge-custom:hover {
	background-color: #0f4e99;
}

.count-link {
	font-weight: 100
}

/* form news letter */

.form-news-letter {
	background-color: #f8f8f8;
	border-radius: 5px;
	width: 100%;
	padding: 20px;
	margin-top: 50px;
	max-width: 648px;
	margin: 15px auto;
}

.form-news-letter > h3 {
	font-size: 1.125rem;
	text-align: center;
	margin-bottom: 20px
}

.input-custom {
	width: 100%;
	height: 48px;
	padding: 12px;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px
}

textarea {
	height: auto !important;
}

.button-custom {
	width: 100%;
	background-color: #5199f0;
	padding: 12px;
	height: 48px;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 0.2s ease;
	cursor: pointer
}

.button-custom:hover {
	background-color: #0f4e99;
}

.button-custom:active {
	outline: none;
}

/* footer */

.recommends {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 50px;
	margin-top: 100px
}

.blog-item {
	max-width: 100%;
	display: flex;
	margin-top: 20px
}

.blog-item > .thumbnail > img {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-right: 10px
}

.info > .category, .info > p {
	color: #6c5b7b;
}

.date {
	color: #94979e
}

.section-form-footer {
	margin-top: 100px
}

.social-medias {
	max-width: 648px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	color: #6c5b7b;
	margin-top: 50px
}

.icon-facebook {
	color: #3A589E !important;
}

.icon-instagram-1 {
	color: #CD486B !important;
}

.icon-twitter {
	color: #429CD6 !important;
}

.footer {
	background-color: #5199f0;
	height: 60px;
	color: white;
	line-height: 60px;
	text-align: center;
	margin-top: 50px
}

/* search */

.search-form {
	display: none;
	background-color: rgba(0,0,0,.8);
	height: 100vh;
	width: 100vw;
	z-index: 6;
	position: fixed;
	top: 0
}

.search-form form {
	margin-top: 25%;
}

.dismiss::before {
	width: 30px;
	font-size: 25px;
	padding: 5px 0;
	color: white;
	margin: 25px 35px;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
	cursor: pointer
}

/* -------------------------------------------------- POST -------------------------------------------------- */

.entry {
	max-width: 810px;
	margin: 0 auto
}

.main-photo {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 50px
}

.post-article {
	margin: 76px auto;
}

/* share */

.share-post {
	display: block;
	position: absolute;
	font-size: 35px;
	max-width: 70px
}

.share-post span {
	font-size: 14px;
	color: #6c5b7b;
	margin-bottom: 10px
}

.share-post .icon-facebook {
	background-color: #3A589E;
}

.share-post .icon-instagram-1 {
	background-color: #CD486B;
}

.share-post .icon-twitter {
	background-color: #429CD6;
}

.share-post .icon-twitter, .share-post .icon-instagram-1, .share-post .icon-facebook {
	color: white !important;
	border-radius: 50%;
	cursor: pointer;
}

.comments > .button-custom {
	max-width: 290px;
	margin: auto;
	display: block;
}

.form-comment {
	max-width: 800px;
	margin: 25px auto;
	background-color: #f9f9f9;
	padding: 25px;
	border-radius: 5px;
}

.rotate-0::before {
	transition: 0.400s ease;
	transform: rotate(0);
}

.rotate-180::before {
	transition: 0.400s ease;
	transform: rotate(180deg);
}

.form-comment > form > h3 {
	font-size: 1.125rem;
	text-align: center;
	margin: 0 0 25px 0
}

/* responsivo */

@media only screen and (max-width: 1280px) {
	.menu-inside {
		max-width: 180px;
	}
}
