* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

#Container {
    padding: 10px 15px;
    max-width: 1500px;
    margin: 15px auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 15px;
}

body {
	background-color: #f8f8f8
}

a {
	text-decoration: none;
	color: #1e1e1e
}

/* header */

.header {
	background-color: #5199f0;
	color: white;
    font-size: 16px !important;
}

.menu {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	height: 70px
}

.menu > .menu-item {
	line-height: 70px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	position: relative;
}

.menu > .menu-item:hover {
	color: #1e1e1e;
	cursor: pointer;
}

.menu > .menu-item:hover a{
	color: #1e1e1e;
}

.menu > .menu-item:hover .menu-inside {
	display: block;
}

#search {
	align-self: center;
	align-items: center;
	align-items: center
}

.menu-inside {
	display: none;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius: 5px;
	transition: all 0.2s;
	width: 200px;
	position: absolute;
    z-index: 2;
}

.menu-inside > li {
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	color: rgba(0,0,0,0.75);
}

.menu-inside > li:hover {
	color: #1e1e1e;
	background-color: rgba(81, 153, 240, 0.5);
	transition: all 0.2s;
	border-radius: 5px
}

#menu {
	display: none;
}

.menu-item > label:hover {
	cursor: pointer;
}

.subscribe {
	text-shadow: 0 0 6px rgba(0,0,0,.8)
}

.subscribe:hover {
	text-shadow: 0 0 6px rgba(255,255,255,.8)
}

/* menu mobile */

.mobile {
	display: none
}

#navbar {
	display: none;
}

.nav-mobile {
	background-color: #5199f0;
	height: auto;
}

/* main */

main {
	background-color: #f8f8f8;
}

/* content */

.content {
	display: grid;
	grid-template-columns: 2fr minmax(250px, 1fr);
	grid-gap: 20px;
	max-width: 1500px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	border-radius: 3px
}

/* news */

.news {
	display: block;
	max-width: 898px;
	margin: 25px auto;
}

.news-2 {
	display: block;
	max-width: 425px;
	margin: 25px auto;
}

.newsletter {
	display: block;
	max-width: 449px;
	margin: 25px auto;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	border-radius: 15px;
	padding: .25rem
}

.newsletter-footer {
    max-width: 1000px;
}

article {
	max-width: 100%;
	margin: 30px 0;
}

article > img {
	width: 100%;
	height: auto;
	border-radius: 15px
}

article > .heading {
	font-size: 20px;
}

article > .posted-by {
	font-size: 12px;
	color: #94979e;
}

article > .description {
	font-size: 14px;
	color: #94979e;
}

/* form */

.section-form {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 200px;
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	background-color: white;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2)
}

.form form {
	background-color: #f9f9f9;
	padding: 25px;
	border-radius: 20px;
	height: 260px;
	width: 60%;
	margin: 15px auto;
}

.form form > h3 {
	text-align: center;
	padding: 5px;
}

.form form > input {
	width: 100%;
	height: 44px;
	border: 3px solid #e3e3e3;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px ;
	background-color: #f1f1f1;
}

.form > form > input:focus {
	border: 3px solid #00a2ff;
	box-shadow: 0 0 5px rgba(81, 153, 240, 0.5);
	background-color: white;
	transition: 0.3s
}

.button-custom {
	width: 100%;
	background-color: white;
	border: 3px solid rgba(81, 153, 240, 0.5);
	border-radius: 20px;
	height: 64px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto Bold';
	transition: all 0.2s;
}

.button-custom:hover {
	background-color: #00a2ff;
	cursor: pointer;
	color: white;
}

/* categories */

.categories > a{
	color: black;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* search */

.search-icon {
    font-size: 20px;
    font-weight: bolder;
}

#search-content {
    height: 50px;
    font-size: 20px;
}

.search {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 2000;
	width: 100vw;
	height: 100vh;
	display: none
}

.search img {
	width: 50px;
	height: 50px;
	margin: 25px 35px 25px 25px;
	float: right;
	background-color: red;
	border-radius: 5px
}

.search img:hover {
	cursor: pointer;
}

.search > form {
	max-width: 50%;
	margin: auto;
}

.search > form > input {
	height: 44px;
	width: 98%;
	border: 3px solid #e3e3e3;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 5px
}

.search > form > input:focus {
	border: 3px solid #00a2ff;
	box-shadow: 0 0 5px rgba(81, 153, 240, 0.5);
	background-color: white;
	transition: 0.3s
}

.button-search {
	height: 49px;
	width: 100%;
	border: 3px solid rgba(81, 153, 240, 0.5);
	border-radius: 20px;
	background-color: white;
	margin: 10px auto;
}

.button-search:hover {
	background-color: #00a2ff;
	color: white;
	cursor: pointer;
}

.search h2 {
	text-align: center;
	font-size: 50px;
	margin-top: 200px;
	color: white
}

/* footer */

.section-footer {
	background-color: #5199f0;
	height: auto;
	width: 100%;
	color: #1e1e1e;
	font-family: 'Roboto Bold', Arial, sans-serif !important;
	color: white
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	text-align: center;
}

.footer-item-1 h2, .footer-item-2 h2 {
	padding-top: 20px
}

.footer-item-1 > ul, .footer-item-2 > ul {
	display: flex;
	max-width: 50%;
	margin: 0 auto;
	justify-content: space-between;
}

.footer-item-1, .footer-item-2 {
	padding-top: 50px
}

.footer-item-2 a {
    color: white;
}

.footer-item-1 > ul > li:hover, .footer-item-2 > ul > li:hover {
	color: #1e1e1e;
	transition: all 0.2s;
	cursor: pointer;
}

.footer-item-3 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	grid-column: 1/3;
	font-family: 'Roboto Bold', Arial, sans-serif !important;
}

.footer-item-2 > ul > li > img {
	position: relative;
	bottom: 20px;
	transition: all 0.3s;
	border-radius: 5px;
}

nav ul li a{
	color: white
}

nav ul li a:hover {
	text-decoration: none;

}

/* TELA DE CADASTRO */


.section-subscribe {
	display: grid;
	grid-template-columns: minmax(998px, 1fr);
	grid-template-rows: auto;
	max-width: 998px;
	margin: 25px auto;
	background-color: #f7f7f7;
	padding: 25px 20px;
	border-radius: 2px;
}

.div-subscribe h1 {
	text-align: center;
	margin-bottom: 25px;
}

.form-contact {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.form-contact input {
	height: 44px;
	border: 2px solid #e3e3e3;
	background-color: #f1f1f1;
	border-radius: 5px;
	width: 98%;
	font-size: 20px;
	padding: 6px 12px
}

.form-contact > div > label {
	font-size: 12px;
	color: #212529;
}

.form-contact textarea {
	height: 400px;
	width: 100%;
	border: 2px solid #e3e3e3;
	background-color: #f1f1f1;
	border-radius: 5px;
	max-width: 998px;
	font-size: 20px;
}

.form-contact input:focus, .form-contact textarea:focus {
	border: 2px solid #00a2ff;
	box-shadow: 0 0 5px rgba(81, 153, 240, 0.5);
	background-color: white
}

/* responsivo */

@media screen and (max-width: 1530px) and (min-width: 1025px) {
	.content {
		max-width: 1000px
	}


}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.content {
		max-width: 800px
	}
}

@media (max-width: 1023px) {
	.nav-desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.link-icon-menu {
		margin-top: 0 !important;
	}

	section.section-form {
		padding: 0;
	}

	section.section-subscribe {
		display: block
	}
}

@media screen and (max-width: 768px) {
	div.content {
		display: block;
	}

	div.form {
		display: block;
	}

}

.arrow-up {
    height: 35px;
    width: 35px;
}

li > a {
    display: block;
}

html, body {
    height: 100%;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: .5;
    }
}



.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(22, 112, 219, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked + .toggle:before {
    background: #5199f0;
}
#cbx:checked + .toggle span {
    background: #1670DB;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(22, 112, 219, 0.2);
}
#cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

.center {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 20px);
}

/*dropzone*/

.dropzone {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:auto
}

.dropzone-content {
    background-color: rgba(0, 0, 0, 0.04);
    border: 2px dashed #0087f7;
    border-radius: 5px;
    text-align: center;
    position: relative
}

.dropzone-content span {
    font-size: 16px;
    color: #1e1e1e;
    opacity: .5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.input-file-custom {
    opacity: 0;
    cursor: pointer;
    height: 200px;
    width: 100%
}

.input-file-custom:hover {
    cursor: pointer
}

.photo {
    border-radius: 50%;
    border: 2px solid transparent;
    width: 200px;
    height: 200px;
    background-color: transparent;
}

.avatar-img {
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.thumbnail > img {
    border-radius: 20px;
    max-width: 100%;

}

.information {
    max-width: 800px;
    margin: 25px auto;

}

.information > .title {
    font-size: 50px;
    line-height: 1.2;
}

.date-author {
    margin: 50px 0;
    font-size: 16px;
}

article.container {
    font-size: 18px;
}

.list {
    max-width: 100%;
    overflow: auto;
}

.suggestions {
    max-width: 1280px;
    margin: 0 auto;
}

.suggestions  img {
    border-radius: 8px;
    width: 90px;
    height: 90px;
}

.suggestions .title {
    font-size: 22px;
    position: absolute;
    top: 0;
}

.suggestions .description {
    position: absolute;
    bottom: 30%;
}

.preview-ft-principal {
    width: 100%;
    border-radius: 20px;
}

.preview-thumbnail {
    width: 898px;
}
