<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recomeço</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/fonts/fontello/instagram.ttf">
	<!-- Fontello -->
	<link rel="stylesheet" href="assets/css/fontello/instagram.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
	<!-- My Style -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<section class="search-form" id="search-form">
		<div class="content">
			<i class="icon-cancel dismiss" id="dismiss"></i>
			<form action="">
				<input type="text" placeholder="Sua pesquisa" name="s" id="s" required class="input-custom">
				<button class="button-custom">Pesquisar</button>
			</form>
		</div>
	</section>

	<header class="header">
		<nav>
			<ul class="menu">
				<li class="menu-icon" id="menu-icon">
					<i class="icon-menu"></i>
				</li>
				<li class="menu-item"><a href="{{ route('home') }}">Home</a></li>
				<li class="menu-item"><a href="">Cursos</a></li>
				<li class="menu-item menu-brand">
					<a href="{{ route('home') }}">Espiritismo é Luz</a>
				</li>
				<li class="menu-item">
					Categorias <i class="icon-down-open"></i>
					<ul class="menu-inside">
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
					</ul>
				</li>
				<li class="menu-item">
					Entrar <i class="icon-down-open"></i>
					<ul class="menu-inside">
						<li><a href="{{ route('login') }}">Entrar</a></li>
						<li><a href="{{ route('user.new') }}">Cadastrar</a></li>
					</ul>
				</li>
				<li class="menu-icon" id="search">
					<i class="icon-search"></i>
				</li>
			</ul>
		</nav>
	</header>

	<nav class="aside-menu" id="aside-menu">
		<ul class="menu-aside">
			<li><i class="icon-cancel dismiss-menu" id="dismiss-menu"></i></li>
			<li class="menu-aside-item"><a href="#">Home</a></li>
			<li class="menu-aside-item"><a href="#">Quem Somos</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
		</ul>
	</nav>

	<main>
		<section class="content news">
			<div class="posts-1">
				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">BLOG</a>
						</div>
						<a href="post.html">
							<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="post.html">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>

				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">BLOG</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>

				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">BLOG</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>

				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">BLOG</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>
			</div>

			<div class="posts-2">
				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">edição kardec news</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail-2.png" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>

				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">edição kardec news</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail-2.png" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>

				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">edição kardec news</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail-2.png" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>

				<article class="article">
					<div class="thumbnail">
						<div>
							<a href="#" class="badge-custom">edição kardec news</a>
						</div>
						<a href="#">
							<img src="assets/images/thumbnail-2.png" alt="Thumbnail" class="thumbnail">
						</a>
					</div>

					<div class="article-header">
						<h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

						<ul class="made-by">
							<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
						</ul>
					</div>

					<div class="article-resume">
						<p>
							Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quibusdam necessitatibus porro nostrum, inventore cum! A voluptatem fugit eius, vel aspernatur, ab soluta, illo necessitatibus facilis tempore iure consequuntur in quidem.
						</p>
					</div>
				</article>
			</div>

			<div class="categories">
				<h3>Categorias</h3>

				<div class="category-options">
					<a class="badge-custom">A GÊNESE - 5ª EDIÇÃO <span class="count-link">(6)</span></a>
					<a class="badge-custom">ARQUIVOS GRATUITOS <span class="count-link">(9)</span></a>
					<a class="badge-custom">ARTIGOS SILVIO SENO CHIBENI <span class="count-link">(2)</span></a>
					<a class="badge-custom">BIOGRAFIAS <span class="count-link">(4)</span></a>
					<a class="badge-custom">BLOG <span class="count-link">(55)</span></a>
					<a class="badge-custom">EDIÇÃO KARDEC NEWS <span class="count-link">(37)</span></a>
					<a class="badge-custom">ENTREVISTAS COSME MASSI <span class="count-link">(23)</span></a>
					<a class="badge-custom">EXPLICAÇÕES DAS OBRAS DE KARDEC <span class="count-link">(2)</span></a>
					<a class="badge-custom">INDICAÇÃO DE LEITURA <span class="count-link">(3)</span></a>
					<a class="badge-custom">KARDEC PLAY <span class="count-link">(10)</span></a>
					<a class="badge-custom">PUBLICAÇÕES INDEPENDENTES <span class="count-link">(8)</span></a>
				</div>

				<div class="form-news-letter">
					<h3>Inscreva-se e não perca nada!</h3>
					<form action="" method="post" id="form">
						<input class="input-custom" type="text" name="name" placeholder="Seu nome" required>
						<input class="input-custom" type="email" name="email" placeholder="Seu email" required>
						<button class="button-custom" type="submit">Enviar</button>
					</form>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">AGOSTO DE 2020</span>

						<p class="mt-3">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">JULHO DE 2020</span>

						<p class="mt-3">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE JULHO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">JUNHO DE 2020</span>

						<p class="mt-3">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE JUNHO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">MAIO DE 2020</span>

						<p class="mt-3">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE MAIO 2020</span>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<section class="content recommends">
			<div class="blog">
				<h3>BLOG</h3>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>
			</div>

			<div>
				<h3>NEWS</h3>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>
			</div>
		</section>

		<section class="scetion-form-footer content">
			<div class="form-news-letter">
				<h3>Inscreva-se e não perca nada!</h3>
				<form action="" method="post" id="form">
					<input class="input-custom" type="text" name="name" placeholder="Seu nome" required>
					<input class="input-custom" type="email" name="email" placeholder="Seu email" required>
					<button class="button-custom" type="submit">Enviar</button>
				</form>
			</div>

			<div class="social-medias">
				<span><i class="icon-facebook"></i> Facebook</span>
				<span><i class="icon-instagram-1"></i> Instagram</span>
				<span><i class="icon-twitter"></i> Twitter</span>
			</div>
		</section>

		<section class="footer">
			<p class="content">
				&copy; Todos os direitos reservados
			</p>
		</section>
	</footer>

	<!-- jQuery -->
	<script src="assets/js/jquery/jquery.min.js"></script>
	<!-- Popper -->
	<script src="assets/js/popper/popper.min.js"></script>
	<!-- Bootstrap -->
	<script src="assets/js/bootstrap/bootstrap.min.js"></script>
	<!-- My Script -->
	<script src="assets/js/script.js"></script>
</body>
</html>
