<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recomeço</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/fonts/fontello/instagram.ttf">
	<!-- Fontello -->
	<link rel="stylesheet" href="assets/css/fontello/instagram.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
	<!-- My Style -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<section class="search-form" id="search-form">
		<div class="content">
			<i class="icon-cancel dismiss" id="dismiss"></i>
			<form action="">
				<input type="text" placeholder="Sua pesquisa" name="s" id="s" required class="input-news-letter">
				<button class="button-custom">Pesquisar</button>
			</form>
		</div>
	</section>

	<header class="header">
		<nav>
			<ul class="menu">
				<li class="menu-icon" id="menu-icon">
					<i class="icon-menu"></i>
				</li>
				<li class="menu-item"><a href="{{ route('home') }}">Home</a></li>
				<li class="menu-item"><a href="">Cursos</a></li>
				<li class="menu-item menu-brand">
					<a href="{{ route('home') }}">Espiritismo é Luz</a>
				</li>
				<li class="menu-item">
					Categorias <i class="icon-down-open"></i>
					<ul class="menu-inside">
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
					</ul>
				</li>			
				<li class="menu-item">
					Entrar <i class="icon-down-open"></i>
					<ul class="menu-inside">
						<li><a href="{{ route('login') }}">Entrar</a></li>
						<li><a href="{{ route('user.new') }}">Cadastrar</a></li>
					</ul>
				</li>
				<li class="menu-icon" id="search">
					<i class="icon-search"></i>
				</li>
			</ul>
		</nav>
	</header>

	<nav class="aside-menu" id="aside-menu">
		<ul class="menu-aside">
			<li><i class="icon-cancel dismiss-menu" id="dismiss-menu"></i></li>
			<li class="menu-aside-item"><a href="#">Home</a></li>
			<li class="menu-aside-item"><a href="#">Quem Somos</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
			<li class="menu-aside-item"><a href="#">Item</a></li>
		</ul>
	</nav>

	<main class="content">
		<section class="post">
			<article class="post-article">
				<div class="main-photo">
					<img src="assets/images/thumbnail.jpg" alt="Main Photo" class="main-photo">
				</div>

				<div class="entry">
					<span class="badge-custom">BLOG</span>

					<h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>

					<ul class="made-by">
						<li class="by">por</li> <li class="name-author">Guilherme Ribeiro</li> <li class="date">28 de AGOSTO 2020</li>
					</ul>
				</div>

				<div class="content share-post" id="share-post">
						<span>Compartilhar</span>
						<i class="icon-facebook"></i>
						<i class="icon-instagram-1"></i>
						<i class="icon-twitter"></i>
					</div>

				<div class="entry">
					A Universidade Federal de Juiz de Fora (UFJF) lança, na próxima terça-feira (1º de setembro), em evento virtual, às 19 horas, o Portal do Projeto Allan Kardec, que reúne manuscritos originais de Allan Kardec (1804-1869), pensador francês que desenvolveu investigações sobre fenômenos psíquicos/espirituais e fundou uma filosofia espiritualista à qual deu o nome de Espiritismo. O evento de lançamento poderá ser acompanhado ao vivo pela TV NUPES no YouTube, em: https://youtu.be/fVpFmp9hdc4.

					Apesar da grande influência de Kardec no Brasil, as pesquisas acadêmicas sobre ele e sua obra têm uma significativa limitação: a quase total ausência de fontes primárias de estudo, afora as obras que ele publicou. Agora, mais de 150 anos após sua morte, serão tornados públicos muitos de seus manuscritos originais.

					Manuscritos de Allan Kardec
					“O portal reúne cartas escritas e/ou recebidas por Kardec, além de material de trabalho, como textos reflexivos e preces que ele escrevia de próprio punho”, informa o professor Klaus Chaves Alberto, um dos coordenadores do Projeto Allan Kardec, que reúne 13 pesquisadores, da UFJF, do ITA, da Unicamp e do IF Sudeste MG, e mais de 20 colaboradores.

					Segundo o professor Klaus, em seu lançamento, o portal disponibilizará 50 manuscritos coletados na França, pelo pesquisador brasileiro Silvino Canuto de Abreu (1892-1980), em meados do século XX. Atualmente, esse material está conservado no Centro de Documentação e Obras Raras da Fundação Espírita André Luiz (Guarulhos-SP).

					Para cada manuscrito, será apresentada versão digitalizada do original, bem como sua transcrição em francês e a tradução para o português. O site será constantemente atualizado. Serão disponibilizadas centenas de manuscritos à medida que a universidade for recebendo novos materiais de instituições ou de indivíduos que detenham algum documento relevante.

					“A função do portal é reunir, traduzir e divulgar gratuitamente manuscritos e documentos originais de Allan Kardec. Já estamos em negociação com o Museu AKOL – Museu Allan Kardec Online –, que também detém um grande número de manuscritos. Eles já estão sendo digitalizados e serão disponibilizados em breve para consulta. Com o apoio de todos, deveremos levar ao público, em breve, centenas de documentos inéditos”, garante o professor.

					Além dos manuscritos, o portal trará informações que ajudarão a contextualizar a leitura desse material. “Está em processo a criação de minibiografias das pessoas citadas nas cartas e com as quais Kardec mantinha contato. É um material muito importante para os investigadores que trabalham com esse período histórico.”

					Segundo Klaus, o portal também listará trabalhos científicos publicados sobre Allan Kardec e tem como meta se tornar referência para pesquisas em todo o mundo sobre o tema.

					KARDECPEDIA presente no projeto
					A KARDECPEDIA foi inserida na aba “Bibliografia” para todos os usuários do Portal, logo no início da página, e exercerá o papel de ferramenta de buscas e acesso integral, em português e francês, à todas as Obras de Kardec. Acesse o portal da KARDECPEDIA.

					Francês mais lido no Brasil
					A filosofia espiritualista concebida por Allan Kardec se disseminou no Brasil, predominantemente, como um sistema religioso.

					Atualmente, os espíritas representam o terceiro maior grupo religioso do Brasil, e Allan Kardec se tornou um dos pensadores franceses de maior influência entre os brasileiros. Milhões de exemplares de seus livros já foram impressos no país, sendo, muito provavelmente, o autor francês mais lido no Brasil.

					“Existe um crescente número de estudos acadêmicos no Brasil e no exterior, em diversas áreas do conhecimento, que abordam sua vida, suas obras ou mesmo o contexto de suas investigações no século XIX.”

					O site foi inspirado em outros dois projetos bem-sucedidos de fora do Brasil.

					O primeiro é o “The Newton Project”, da Universidade de Oxford, que, além de textos científicos, disponibiliza dezenas de conteúdos religiosos escritos por Isaac Newton; e o segundo é o “Darwin Correspondence Project”, da Universidade de Cambridge, que apresenta a correspondência de Charles Darwin, além de textos sobre diversos estudos e temas, incluindo muitos sobre ciência e religião.

					“O portal permitirá o acesso público a centenas de manuscritos originais de Allan Kardec nunca publicados e se tornará a principal fonte primária para estudos sobre o fundador da filosofia espírita”, diz Klaus.

					Manuscritos de Allan Kardec - UFJF lança portal com documentos de Kardec
					Evento contará com pesquisadores do Brasil e França
					O evento de lançamento do portal do Projeto Allan Kardec será feito pelo YouTube e contará com a apresentação de estudos acadêmicos sobre o pensador francês, sua obra e seu impacto. Durante a live você também vai conhecer o site e suas funcionalidades e, ao término do evento, o portal ficará disponível ao público através do site: https://projetokardec.ufjf.br

					Abaixo, temas e pesquisadores do evento de lançamento:

					Allan Kardec – perfil e legado
					Marion Aubrée
					Pesquisadora do Centro de Pesquisas sobre o Brasil Contemporâneo da Escola de Altos Estudos em Ciências Sociais (EHESS), Paris, França. Autora de mais de 100 artigos e três livros, entre eles, La table, le livre et les esprits. Paris: Éditions Jean-Claude Lattès, 1990.
					Breves notas sobre a recepção e o estudo acadêmico da obra de Kardec no Brasil
					Marcelo Camurça
					Professor Titular do Departamento de Ciência da Religião e do seu Programa de Pós-Graduação na UFJF. Pesquisa o fenômeno religioso do Espiritismo no Brasil há cerca de 20 anos.
					De professor cético a codificador da doutrina espírita: o que transformou o professor Rivail em Allan Kardec?
					Marcel Souto Maior
					Jornalista e escritor, autor de 10 livros, entre eles as biografias de Chico Xavier e de Allan Kardec, adaptadas para o cinema. Roteirista e diretor da Rede Globo, é cocriador de programas de sucesso como “Profissão Repórter”, com Caco Barcellos, e “Na Moral”, com Pedro Bial.
					A proposta de Kardec para pesquisa da dimensão espiritual
					Marcelo Gulão Pimentel
					Graduação em História pela Uerj, Mestrado em Saúde pelo Nupes-UFJF e Doutorado em História pela Uerj. Professor de História do Colégio Naval.
					Contatos para entrevista: Prof. Klaus Chaves Alberto klaus.alberto@ufjf.edu.br (32) 99102-9120
				</div>
			</article>
		</section>

		<section class="content section-comments">
			<div class="comments">
				<button class="button-custom" id="comment">Comentar <i class="icon-down-open" id="to-rotate"></i></button>

				<form action="{{ route('user.login') }}" class="form-comment d-none" id="form-comment" method="POST">
					<h3>Faça login para comentar</h3>
					<input type="email" name="email" id="email" class="input-custom" placeholder="Seu email" required>
					<input type="password" name="password" id="password" class="input-custom" placeholder="Sua senha" required>
					<button class="button-custom">Entrar</button>
				</form>

				<form action="" class="form-comment d-none" id="form-comment" method="POST">
					<h3>Faça seu comentário</h3>
					<textarea name="" id="" cols="30" rows="10" class="input-custom" placeholder="Deixe seu comentário" required></textarea>
					<button class="button-custom">Postar</button>
				</form>
			</div>
		</section>
	</main>

	<footer>
		<section class="content recommends">
			<div class="blog">	
				<h3>BLOG</h3>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">BLOG</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>
			</div>

			<div>
				<h3>NEWS</h3>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>

				<div class="blog-item">
					<div class="thumbnail">
						<img src="assets/images/thumbnail.jpg" alt="Thumbnail" class="">					
					</div>

					<div class="info">
						<span class="category">NEWS</span>

						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam, assumenda.
						</p>

						<span class="date">28 DE AGOSTO 2020</span>
					</div>
				</div>
			</div>
		</section>

		<section class="section-form-footer content">
			<div class="form-news-letter">
				<h3>Inscreva-se e não perca nada!</h3>
				<form action="" method="post" id="form">
					<input class="input-custom" type="text" name="name" placeholder="Seu nome" required>
					<input class="input-custom" type="email" name="email" placeholder="Seu email" required>
					<button class="button-custom" type="submit">Enviar</button>
				</form>
			</div>

			<div class="social-medias">
				<span><i class="icon-facebook"></i> Facebook</span>
				<span><i class="icon-instagram-1"></i> Instagram</span>
				<span><i class="icon-twitter"></i> Twitter</span>
			</div>
		</section>

		<section class="footer">
			<p class="content">
				&copy; Todos os direitos reservados 
			</p>
		</section>
	</footer>

	<!-- jQuery -->
	<script src="assets/js/jquery/jquery.min.js"></script>
	<!-- Popper -->
	<script src="assets/js/popper/popper.min.js"></script>
	<!-- Bootstrap -->
	<script src="assets/js/bootstrap/bootstrap.min.js"></script>
	<!-- My Script -->
	<script src="assets/js/script.js"></script>
</body>
</html>