/* general */

* {
	padding: 0;
	margin: 0;
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

.content {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 50px
}

.bg {
    background-color: #f9f9f9 !important;
    border-radius: 5px;
    padding: 10px
}

body {
	background-color: white;
}

.fixed-to-top {
	position: fixed !important;
	z-index: 5;
	top: 0 !important;
}

.fixed-to {
	position: absolute;
}


.js-class {
    position: fixed !important;
    top: 0 !important;
    max-width: calc(100% / 4.94) !important;
}

.search-form {
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 6;
    width: 50%;
}

/* header */

.menu-icon:hover .icon-menu, .menu-icon:hover .icon-search {
	background-color: white;
	border-radius: 20px;
	color: #383838;
}

.icon-menu, .icon-search {
	line-height: 110px;
	cursor: pointer;
	transition: 0.2s ease;
}

.icon-menu, .icon-search {
	padding: 10px
}

.header {
	background-color: #5199f0;
	height: 120px;
	padding: 5px 50px;
	z-index: 5;
}

.menu {
	display: flex;
	max-width: 1360px;
	margin: 0 auto;
	list-style: none;
	justify-content: space-between;
	color: white;
}

.menu-item {
	line-height: 110px;
	letter-spacing: 0;
	transition: 0.2s ease;
}

.menu-item:hover {
	cursor: pointer;
	color: #363636;
}

.menu-item:hover > a, .menu-aside-item:hover > a {
	cursor: pointer;
	color: #363636;
	text-decoration: none;
}

.menu-item > a, .menu-aside-item > a {
	text-decoration: none;
	color: white;
	transition: 0.2s ease;
	display: block
}

.menu-aside-item > a {
    padding: 10px;
}

.menu-brand {
	font-size: 52px;
	color: #f8f8f8;
	display: inline;
	font-weight: 700
}

.menu-aside > .menu-brand {
    font-size: 34px;
    color: #f8f8f8;
    display: inline;
    font-weight: 700
}

.menu-item:hover > .menu-inside {
	display: block
}

.menu-inside {
	display: none;
	position: absolute;
	list-style: none !important;
	height: auto;
	background-color: white;
	z-index: 2;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius: 5px;
	width: 200px;
    max-height: 500px;
    overflow: auto;
}

.menu-inside > li {
	padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0 10px;
    line-height: 55px;
}

.menu-inside > li > a {
	display: block;
	color: #383838;
	text-decoration: none;
}

/* aside menu */

.background {
    background-color: rgba(0,0,0,.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    top: 0;
}

.aside-menu {
    left: 0;
	z-index: 6;
	position: fixed;
	top: 0;
	display: none;
}

.menu-aside {
	background-color: #5199f0;
	width: 365px;
	height: 100%;
    position: fixed;
	padding: 40px 30px;
	list-style: none;
	overflow: auto;
}

.dismiss-menu::before {
	width: 30px;
	font-size: 25px;
	padding: 5px 0;
	color: white;
	margin: 25px 35px;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
	cursor: pointer
}

.menu-aside-item {
	border-bottom: 1px solid rgba(56, 56, 56, .3);
	color: white;
}

.menu-aside-item h3 {
    font-size: 1.425rem;
    margin-top: 10px;
    color: black;

}

/* news */

.news {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: auto;
	margin-top: 75px;
	grid-gap: 30px;
}

.made-by {
	font-size: 12px;
	color: #94979e;
	display: flex;
}

.made-by li {
	margin: 25px 15px;
	text-transform: uppercase;
}

.by {
	text-transform: lowercase !important;
	margin-left: 0 !important
}

.by, .name-author {
	list-style: none !important;
}

.article-header h3 {
	margin-top: 25px;
}

.article-header a {
	margin-top: 25px;
	cursor: pointer;
	color: #383838;
	text-decoration: none;
	transition: 0.2s ease
}

.name-author{
	color: #383838;
	transition: 0.2s ease;
	cursor: pointer
}

.name-author:hover, .article-header a:hover {
	color: #6c5b7b;
}

.thumbnail > div {
	position: relative;
}

.thumbnail img{
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

.article-resume {
	color: #94979e;
}

.badge-custom {
	background-color: #0f4e99;
	padding: 0 5px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	text-decoration: none;
	width: auto
}

.badge-custom:hover {
	background-color: #5199f0 !important;
}

.thumbnail > div > a.badge-custom, .thumbnail > div >  a.badge-custom:hover {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: #0f4e99;
	text-decoration: none;
	color: white
}

/* categories */

.categories {
	margin-left: 20px;
}

.categories > h3 {
	font-size: 1.2rem;
}

a.badge-custom {
	display: inline-block;
	max-width: 100%;
	margin: 5px 0;
	padding: 5px 10px;
	color: white !important;
	font-size: 12px;
	font-weight: bold;
	transition: 0.2s ease;
    text-decoration: none;
}

.category-options > a.badge-custom:hover {
	background-color: #0f4e99;
    text-decoration: none;
}

.count-link {
	font-weight: 100
}

/* form news letter */

.form-news-letter {
	background-color: #f8f8f8;
	border-radius: 5px;
	width: 100%;
	padding: 20px;
	max-width: 648px;
	margin: 50px auto;
}

.form-news-letter > h3 {
	font-size: 1.125rem;
	text-align: center;
	margin-bottom: 20px
}

.input-custom {
	width: 100%;
	height: 48px;
	padding: 12px;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px
}

textarea {
	height: auto !important;
}

.button-custom {
	width: 100%;
	background-color: #5199f0;
	padding: 12px;
	height: 48px;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 0.2s ease;
	cursor: pointer
}

.button-custom:hover {
	background-color: #0f4e99;
}

.button-custom:active {
	outline: none;
}

.form {
    max-width: 1360px !important;
}

/* footer */

.recommends {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 50px;
	margin-top: 100px
}

.blog-item {
	max-width: 100%;
	display: flex;
	margin-top: 20px
}

.blog-item > .thumbnail > img {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-right: 10px
}

.text-gray {
    color: #94979e !important;
}

.bg > .info {
    text-align: center
}

.bg > .info > .category, .info > p {
    color: #6c5b7b;
    text-align: left;
    width: 100%;
}

.date {
	color: #94979e
}

.section-form-footer {
	margin-top: 100px
}

.social-medias {
	max-width: 648px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	color: #6c5b7b;
}

.social-medias > a {
    color: #383838;
    text-decoration: none;
}

.social-medias > a:hover {
    color: #6c5b7b;
    text-decoration: none;
}

.icon-facebook {
	color: #3A589E !important;
}

.icon-instagram-1 {
	color: #CD486B !important;
}

.icon-twitter {
	color: #429CD6 !important;
}

.footer {
	background-color: #5199f0;
	height: 60px;
	color: white;
	line-height: 60px;
	text-align: center;
	margin-top: 50px
}

/* search */

.dismiss::before {
	width: 30px;
	font-size: 25px;
	padding: 5px 0;
	color: white;
	margin: 25px 35px;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
	cursor: pointer
}

/*dropzone*/

.dropzone {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:auto
}

#drag-and-drop {
    padding: 0 15px !important;
}

.dropzone-content {
    background-color: rgba(0, 0, 0, 0.04);
    border: 2px dashed #0087f7;
    border-radius: 5px;
    text-align: center;
    position: relative
}

.dropzone-content span {
    font-size: 16px;
    color: #1e1e1e;
    opacity: .5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.input-file-custom {
    opacity: 0;
    cursor: pointer;
    height: 200px;
    width: 100%
}

.input-file-custom:hover {
    cursor: pointer
}

.photo {
    border-radius: 50%;
    border: 2px solid transparent;
    width: 200px;
    height: 200px;
    background-color: transparent;
}

/*switch*/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: .5;
    }
}

/* custom scroll */

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background: #e8e8e8
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 20px
}

::-webkit-scrollbar-thumb:hover {
    background: #919191
}

/* -------------------------------------------------- POST -------------------------------------------------- */

.entry {
	max-width: 810px;
	margin: 0 auto
}

.main-photo {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 50px
}

.post-article {
	margin: 76px auto;
}

/* share */

.share-post {
	display: block;
	position: absolute;
	font-size: 35px;
	max-width: 70px
}

.share-post span {
	font-size: 14px;
	color: #6c5b7b;
	margin-bottom: 10px
}

.share-post > a:hover, .share-post-bottom > a:hover {
    text-decoration: none;
}

.share-post > a > .icon-facebook {
	background-color: #3A589E;
}

.share-post > a > .icon-instagram-1 {
	background-color: #CD486B;
}

.share-post > a > .icon-twitter {
	background-color: #429CD6;
}

.share-post > a > .icon-twitter, .share-post > a > .icon-instagram-1, .share-post > a > .icon-facebook {
	color: white !important;
	border-radius: 50%;
	cursor: pointer;
}

.share-post-bottom {
    display: block;
    font-size: 35px;
    max-width: 266px;
    margin: 20px auto;
}

.share-post-bottom span {
    font-size: 14px;
    color: #6c5b7b;
    margin-bottom: 10px
}

.share-post-bottom > a > .icon-facebook {
    background-color: #3A589E;
}

.share-post-bottom > a > .icon-instagram-1 {
    background-color: #CD486B;
}

.share-post-bottom > a > .icon-twitter {
    background-color: #429CD6;
}

.share-post-bottom > a > .icon-twitter, .share-post-bottom > a > .icon-instagram-1, .share-post-bottom > a > .icon-facebook {
    color: white !important;
    border-radius: 50%;
    cursor: pointer;
}

.comments > .button-custom {
	max-width: 290px;
	margin: 50px auto;
	display: block;
}

.form-comment {
	max-width: 800px;
	margin: 25px auto;
	background-color: #f9f9f9;
	padding: 25px;
	border-radius: 5px;
}

.rotate-0::before {
	transition: 0.400s ease;
	transform: rotate(0);
}

.rotate-180::before {
	transition: 0.400s ease;
	transform: rotate(180deg);
}

.form-comment h3 {
	font-size: 1.125rem;
	text-align: center;
	margin: 0 0 25px 0
}

.posts-category {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-gap: 50px;
}

/* comments */

.button-reply {
    background-color: #5199f0;
    width: auto;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    margin: 10px 0;
    transition: 0.2s ease;
}

.button-reply:hover {
    background-color: #0f4e99;
    cursor: pointer;
}

.user-comment {
    max-width: 800px;
    background-color: #f9f9f9;
    margin: 20px auto 0 auto;
    padding: 3rem;
    border-radius: 5px;
}

.user-comment > p {
    margin: 0 0 0 50px;
}

.photo-name > .made-by > .date, .photo-name > span {
    list-style: none;
    margin: 0 0 0 15px;
    line-height: 50px;
}

.photo-name {
    display: flex;
}

.photo-name > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f9f9f9;
}

.delete-comment {
    background-color: red;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    margin-left: auto;
    transition: 0.2s ease;
    align-self: center;
}

.delete-comment-reply {
    background-color: red;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    margin-left: auto;
    transition: 0.2s ease;
    align-self: center;
}

.avatar-header {
    border-radius: 50%;
}

/* responsivo */

@media only screen and (max-width: 1280px) {
	.menu-inside {
		max-width: 180px;
	}

    .menu > li {
        display: none;
    }

    .menu-mobile, .menu-brand {
        display: block !important;
    }

    .menu-brand {
        font-size: 3rem;
    }

    .share-post {
        display: none;
    }

    .share-post > span {
        display: none;
    }

    .share-post {
        font-size: 20px
    }

    .share-post i {
        font-size: 20px !important;
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 1150px) {
    .news, .posts-category {
        display: block;
    }
}

@media only screen and (max-width: 760px) {
    .photo-name {
        display: block;
    }

    .menu-brand { font-size: 2rem}

    .menu-aside > .menu-brand { font-size: 2rem}
}

.carousel-item img {
    border-radius: 15px;
}
